.btn {
  display: inline-block;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
  cursor: pointer;

  background-color: $accentColor;
  color: $accentTextColor;
  font-family: $fontFamilyBase, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accentTextColor;
    color: $accentColor;
  }
}
