.contact-nav {
  display: flex;
  margin-left: auto;

  &-item {
    margin-left: 50px;
  }
}

.contact-nav {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    text-align: start;
    font-size: 12px;
    margin-left: 84;
  }
}

.contact-nav-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }
}

.contact-nav-link {
  display: flex;
  align-items: center;
  color: $primaryTextColor;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.email-link-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.phone-link-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.site-nav,
.contact-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
