$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$accentTextColor: #ffffff;
$blackLogoColor: #000000;
$buttonColor: #f5f4fa;
$backgroundColor: #2f303a;
$borderColor: #eeeeee;
$featuresBackgroundColor: #f5f4fa;
$iconColor: #afb1b8;
