.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  &-overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: $backgroundColor;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header/mobile/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header/mobile/hero-mobile@2x.jpg);
    }

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header/tablet/hero-tablet.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/header/tablet/hero-tablet@2x.jpg);
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header/desktop/hero-desktop.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/header/desktop/hero-desktop@2x.jpg);
      }
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $accentTextColor;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.364;
    }

    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
